html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #003153;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color:white;
    font-size: 40px;
    font-weight: bold;
    margin:50px;
}
.bodySection{
    background-color: #25608a;
    color:white;
    height: 100%;
    
}
.desc{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:30px;
    gap:10px;
}
.desc .desc1{
    font-size: 20px;
    font-weight: 600;
}
.desc .desc2{
    font-size: 16px;
    font-weight: 530;
}
.buttons{
    display: flex;
    justify-content: center;
    gap:20px;
    
}
.but1,.but2,.but3{
    width: 160px;
    height:160px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: #94b4ca;
    border:none;
    cursor: pointer;
}

.result{
    display: flex;
    justify-content: center;  
    gap:15px;
    margin: 20px;
    font-weight: 400;
    
}
.scr{
    display: flex;
    gap:5px;
    
}
.footer{
    display: flex;
    justify-content: center;
}
.footer1{
    background-color: #25608a;
    position: absolute;
    padding: 5px;
    bottom: 0;
    color:white
}
.plyrChce,.cmpChce{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    height: 180px;
}
.question1,.question2{
    font-size: 80px;
}
.img1,.img2,.img3{
   font-size: 80px;
}
.but1:hover,.but2:hover,.but3:hover{
background-color: rgb(155, 201, 233);
}
.modal{
   display: none; /*asd*/
   position:fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(1, 1, 1, 0.6);
}
.modal-content{
    background-color:#25608a;
    padding: 20px;
    border-radius: 10px;
    width:130px;
    height: 120px;
    gap:20px;
    margin:15% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title2{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: white;
}
.play-again-but{
    display: flex;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(155, 201, 233);;
    cursor: pointer;
}


